<div class="container-fluid mrgin-top-50">
  <div *showItBootstrap="['md','sm','lg']" class="col-md-2 col-sm-2">
    <app-leftbar></app-leftbar>
  </div>
  <div class="col-md-8 col-lg-8 col-xs-12 col-sm-8">
    <app-timeline></app-timeline>
  </div>
  <div class="col-md-2 col-sm-2">
    <app-onlineusers (chatOpened)="openChatBox($event)"></app-onlineusers>
  </div>
  <ng-container *showItBootstrap="['md','lg']">
    <ng-container *ngFor="let chatbox of chatBoxes">
      <app-chatbox [chatbox]="chatbox" (chatClosed)="closeChatBox($event)">
        <!--[chatbox]="chatbox" -->
      </app-chatbox>
    </ng-container>
  </ng-container>
</div>
