<div class="container-fluid mrgin-top-50 messenger-container clearfix">
  <ng-container *showItBootstrap="['xs','sm']">
    <app-onlineusers></app-onlineusers>
  </ng-container>
  <div *showItBootstrap="['lg','md']" class="people-list col-md-3" id="people-list">
    <div class="search">
      <input type="text" placeholder="Search Messenger">
    </div>
    
    <ul *ngIf="messengerList?.length>0"  class="list custom-scroll"  >
      <ng-container *ngFor="let msg of messengerList">
        <li class="clearfix">
          <a (click)="getMessages(msg.id)">
            <img *ngIf="msg.UserIds?.length>0 && msg.UserIds[0]?.profileImages!=null && msg.UserIds[0]?.profileImages.length>0" src="{{config.apiEndpoint}}{{msg.UserIds[0].profileImages[0]?.imagePath}}/{{msg.UserIds[0].profileImages[0]?.iconName}}"
              alt="avatar">
            <div class="about">
              <div class="name">{{msg.UserIds[0].firstName}} {{msg.UserIds[0].surName}}</div>
              <div class="status">
                <i class="fa fa-circle online"></i> online
              </div>
            </div>
          </a>
        </li>
      </ng-container>
    </ul>
  </div>
  <div class="chat col-md-9">
      <!-- *ngIf="converstation!=null && converstation?.Messages?.length>0" -->
    <ng-container *ngIf="converstation!=null && converstation?.Messages?.length>0">
      <div class="chat-header clearfix">
        <img src="{{config.apiEndpoint}}{{converstation?.UserIds[0]?.profileImages[0]?.imagePath}}/{{converstation?.UserIds[0]?.profileImages[0]?.iconName}}"
          alt="avatar" />
        <div class="chat-about">
          <div class="chat-with">Chat with {{converstation?.UserIds[0]?.firstName}} {{converstation?.UserIds[0]?.surName}}</div>
          <div class="chat-num-messages">already {{converstation?.Messages.length}} messages</div>
        </div>
        <i class="fa fa-star"></i>
      </div>
      <div #chathistory  class="chat-history custom-scroll" [scrollTop]="chathistory.scrollHeight">
        <ul>
          <ng-container *ngFor="let msg of Messages?.conversation">
            <ng-template #sentbyme>
              <li class="clearfix">
                <div class="message-data align-right">
                  <span class="message-data-time">{{msg.createdOn | amLocale:'en' | amDateFormat:'hh:mm a'}}, {{msg.createdOn | amTimeAgo:true}}</span> &nbsp;
                  &nbsp;
                  <span class="message-data-name">Me</span>
                  <i class="fa fa-circle me"></i>
                </div>
                <div class="message other-message float-right">
                  {{msg.message}}
                </div>
              </li>
            </ng-template>
            <li *ngIf="converstation.UserIds[0]._id==msg.sender;else sentbyme;">
              <div class="message-data">
                <span class="message-data-name">
                  <i class="fa fa-circle online"></i> {{converstation.UserIds[0].firstName}} {{converstation.UserIds[0].surName}}</span>
                <span class="message-data-time">{{msg.createdOn | amLocale:'en' | amDateFormat:'hh:mm a'}}, {{msg.createdOn | amTimeAgo:true}}</span>
              </div>
              <div class="message my-message">
                {{msg.message}}
              </div>
            </li>
          </ng-container>
        </ul>
      </div>
      <div class="chat-message clearfix">
        <textarea [(ngModel)]="chatMessage.message" name="message-to-send" id="message-to-send" placeholder="Type your message" rows="3"></textarea>
        <i class="fa fa-file-o"></i> &nbsp;&nbsp;&nbsp;
        <i class="fa fa-file-image-o"></i>
        <button (click)="sendMessage()">Send</button>
      </div>
    </ng-container>
  </div>
</div>
