<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div   class="navbar-header">
      <button *ngIf="router.url.indexOf('login')==-1" type="button" class="navbar-toggle" data-toggle="collapse" (click)="isCollapsed=!isCollapsed" [attr.aria-expanded]="!isCollapsed"
        aria-controls="navbarContent">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="">Chat App</a>
    </div>
    <div class="collapse navbar-collapse" [ngbCollapse]="!isCollapsed">
      <ng-container *showItBootstrap="['md','lg']">
      <form *ngIf="helper.loggedIn()" class="navbar-form navbar-left">
        <div class="input-group header-searchbar">
          <input type="text" class="form-control input-sm" placeholder="Search">
          <div class="input-group-btn">
            <button class="btn btn-default input-sm" type="submit">
              <i class="glyphicon glyphicon-search"></i>
            </button>
          </div>
        </div>
      </form>
    </ng-container>
      <ul class="nav navbar-nav" *ngIf="helper.loggedIn()">
        <li>
          <a routerLink="/Profile" routerLinkActive="active">{{shared.getLocalProfile().surName}}</a>
        </li>
        <li *ngFor="let item of menuItems">
          <a routerLink="/{{item.urlName}}" routerLinkActive="active">{{item.menuName}}</a>
        </li>
        <li class="nav-item dropdown">
          <a (click)="processRequestNofication();" class="fa-stack  has-badge dropdown-toggle" aria-controls="dropdownBasic1" [attr.aria-expanded]="!toggleFriendRequestDropDown"
            [(attr.data-count)]="shared.friendRequests.length">
            <i class="fa fa-user" aria-hidden="true"></i>
          </a>

          <div id="dropdownBasic1" class="dropdown-menu bubble notify-drop" [ngbCollapse]="toggleFriendRequestDropDown">
            <div class="notify-drop-title">
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">Friend Requests (
                  <b>{{shared.getReceivedFriendRequests()?.length}}</b>)</div>
                <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                  <a href="" class="rIcon allRead" data-tooltip="tooltip" data-placement="bottom" title="Settings">
                    <i class="fa fa-dot-circle-o"></i>
                  </a>
                </div>
              </div>

            </div>
            <div class="drop-content">
              <div class="text-center padding-15 align-middle" *ngIf="shared.getReceivedFriendRequests()==null || shared.getReceivedFriendRequests()?.length==0">
                <p>No new requests</p>
              </div>
              <ng-container *ngFor="let item of shared.getReceivedFriendRequests()">
                <app-friend-request-notification [data]="item" (onRequestAccepted)="onRequestAccepted($event)"></app-friend-request-notification>
              </ng-container>
              <div class="border padding-10 margin-right-15 margin-left-15">
                <strong>People you may know</strong>
              </div>
              <div class="nav-affs">
                <app-find-friends></app-find-friends>
              </div>

            </div>
            <div class="notify-drop-footer text-center">
              <a href="">
                <i class="fa fa-eye"></i> See All</a>
            </div>
          </div>
        </li>
        <li>
          <a *ngIf="chatShared.showMsgNotification" class="fa-stack  has-badge" attr.data-count="{{chatShared.newMsgCount}}">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a class="fa-stack  has-badge" attr.data-count="{{shared.notifictaions?.length}}" >
            <i class="fa fa-bell" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="helper.loggedIn()">
          <a href="#" (click)="onLogoutClick()">Logout</a>
        </li>
      </ul>
      <ng-container *showItBootstrap="['sm','md','lg']">
        <app-login *ngIf="!helper.loggedIn()"></app-login>
      </ng-container>
    </div>
  </div>
</nav>
