<ngx-carousel [inputs]="carouselTile">
  <ngx-tile NgxCarouselItem *ngFor="let Tile of carouselTileItems">
    <div class="slider-image">
      <ng-container *ngIf="Tile.profileImages!=null && Tile.profileImages.length>0">
        <img [src]="appconfig.apiEndpoint+Tile.profileImages[0].imagePath+'/'+Tile.profileImages[0].timeLineImg" />
      </ng-container>
    </div>
    <div class="text-center">
      <label class="form-control overflow-hidden">{{Tile.firstName}} {{Tile.surName}}</label>
    </div>
    <div>
      <button type="button" class="form-control" aria-label="Left Align" (click)='sendRequest(Tile._id)'>
        <i class="fa fa-user-plus" aria-hidden="true"></i>
        Add Friend
      </button>
    </div>
    <div>
      <button type="button" class="form-control" aria-label="Left Align">
        <i class="fa fa-wifi" aria-hidden="true"></i>
        Connect
      </button>
    </div>
  </ngx-tile>
  <button NgxCarouselPrev class='leftRs'>&lt;</button>
  <button NgxCarouselNext class='rightRs'>&gt;</button>
</ngx-carousel>
